// typography
/* roboto-regular - latin */
@font-face {
  @include local-font(
    $secondary-font-family,
    $fonts-secondary-url,
    $fonts-local-secondary-urls,
    400
  );
}

// roboto-500 - latin
@font-face {
  @include local-font(
    $secondary-font-family,
    $fonts-secondary-url,
    $fonts-local-secondary-500-urls,
    500
  );
}

// domine-600 - latin
@font-face {
  @include local-font($primary-font-family, $fonts-primary-url, $fonts-local-primary-600-urls, 600);
}

body {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 25px;
}
