// fonts
$primary-font-family: Domine;
$secondary-font-family: Roboto;

$primary-font: $primary-font-family, serif; // 600
$secondary-font: $secondary-font-family, sans-serif; // 400, 500

// colors
$primary-color: #fe919e;
$secondary-color: #ff5599;
$dark-gray: #717171;
$light-gray: #757575;
$light-white: #fff8f8;

$black: #333;
$white: #fff;
