.reinforcing {
  grid-column: full-start / full-end;

  text-align: center;
  text-transform: capitalize;
  color: $white;
  background: $primary-color;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    width: 0;
    height: 0;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-top: 2.4rem solid $white;
    clear: both;
    transform: translate(-50%, -50%);
    left: 50%;
    // clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
    // background: #fff;
  }

  &__heading-sup {
    margin-bottom: 1rem;
  }

  &__text {
    margin: 0 1.5rem;

    @include respond(tab-port) {
      width: 100%;
      margin: 2rem 0 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }

  &__providers {
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      flex-wrap: wrap;
    }

    img {
      margin-right: 0.75rem;
      margin-left: 0.75rem;

      @include respond(tab-land) {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__verify {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      padding: 0 1rem;
      flex-wrap: wrap;
    }
  }
}
